.exercise_top {
    margin-bottom: 50px;
    text-align: center;
}

.exercise_top h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.exercise_top p {
    color: var(--heading-color);
    font-size: 1rem;
    line-height: 25px;
}

.exercise_wrapper {
    background: var(--bg-gradient);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
}

.exercise_item {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    width: 33%;
}

.exercise_icon {
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: #fff;
}

.exercise_icon img {
    width: 100%;
}

.exercise_content {
    width: 80%;
}

.exercise_content h4 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.exercise_content p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.801);
}










/*============= responsive ========= */

/*@media only screen and (max-width: 992px) {
    .exercise_wrapper {
        padding: 60px 40px;
    }

    .exercise_item {
        width: 32%;
    }
    

    .exercise_content h4 {
        font-size: 1.1rem;
    }
    
    .exercise_content p {
        font-size: 0.9rem;
    }
    
}*/


@media only screen and (min-width:0px) and (max-width: 359px) {

    .exercise_top {
        margin-bottom: 30px;
    }

    .exercise_top h2 {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }
    
    .exercise_top p {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .exercise_top p {
        font-size: 1.1rem;
        line-height: 20px;
    }

    .exercise_wrapper {
        background: transparent;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0px;
        
        
    }

    .exercise_item {
        background: var(--bg-gradient);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 0.8rem;
        padding: 30px 10px;
        margin-top: 2rem;
    }

    .exercise_content {
        text-align: center;
    }
    

    .exercise_content h4 {
        font-size: 1.2rem;
    }
    
    .exercise_content p {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .exercise_icon {
        width: 20%;
        height: 20%;
        padding: 0.5rem;
    }

}



@media only screen and (min-width:360px) and (max-width: 767px) {

    .exercise_top {
        margin-bottom: 30px;
    }

    .exercise_top h2 {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }
    
    .exercise_top p {
        font-size: 1.1rem;
        line-height: 20px;
    }

    .exercise_wrapper {
        background: transparent;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 0px;
        
        
    }

    .exercise_item {
        background: var(--bg-gradient);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        gap: 0.8rem;
        padding: 30px 10px;
        margin-top: 2rem;
    }

    .exercise_content {
        text-align: center;
    }
    

    .exercise_content h4 {
        font-size: 1.2rem;
    }
    
    .exercise_content p {
        font-size: 0.8rem;
        line-height: 20px;
    }

    .exercise_icon {
        width: 20%;
        height: 20%;
        padding: 0.5rem;
    }
    
   
}


@media only screen and (min-width: 768px) and (max-width: 991px) {

    .exercise_wrapper {
        
        padding: 50px 30px;
    }

    .exercise_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.2rem;
        
    }

    .exercise_icon {
        width: 30%;
        height: 30%;
        
    }

    .exercise_content {
        text-align: center;
    }
    


}